@page "/fotos"
<div class="grids">
    <div>
        <div class="absoluto"></div>
    </div>
    <div>
        <div class="absoluto"></div>Foto1
    </div>
    <div>
        <div class="absoluto"></div>Foto1
    </div>
    <div>
        <div class="absoluto"></div>Foto1
    </div>
    <div>
        <div class="absoluto"></div>Foto1
    </div>
    <div>
        <div class="absoluto"></div>Foto1
    </div>
    <div>
        <div class="absoluto"></div>Foto1
    </div>
    <div>
        <div class="absoluto"></div>Foto1
    </div>
    <div>
        <div class="absoluto"></div>Foto1
    </div>
    <div>
        <div class="absoluto"></div>Foto1
    </div>
</div>